@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Agency.Feature.About.Models.Clients>
@using Glass.Mapper.Sc.Web.Mvc

@if (IsInEditingMode)
{
    if (Html.Glass().Model == null)
    {
        <p>Page Header - No datasource found, please associate a datasource.</p>
    }
    else
    {
        <div class="col-md-3 col-sm-6">
            <a href="#">
                @RenderImage(x => x.ImageClient, isEditable: true, parameters: new { @class = "img-fluid d-block mx-auto" })
            </a>
       </div>
    }

}
else if (!IsInEditingMode && Html.Glass().Model != null)
{

    <div class="col-md-3 col-sm-6">
        <a href="#">
            @RenderImage(x => x.ImageClient, isEditable: false, parameters: new { @class = "img-fluid d-block mx-auto" })
        
        </a>
    </div>

}

